<div class="emojivator-unit-input">
  {{input class="emojivator-unit-input-text" type="text" value=input}}
  <button {{action "transformInput"}}>Go!</button>
</div>
<div class="emojivator-unit-output">
  <p class="emojivator-unit-output-text">{{output}}</p>
</div>
