<div class="emojivator-unit-input">
  {{emoji-picker emojis=problem.validInputs}}
  <button {{action "transformInput"}}>Go!</button>
</div>
<div class="emojivator-unit-output">
  <p class="emojivator-unit-output-text">{{output}}</p>
</div>
