<h3>Level 1:</h3>
<p>Your first Emojivator machine is one of the earliest uncovered by our excavation team. It appears to only work on a small subset of the emoji tablets supported by the larger Emojivators, but our best research right now indicates that it does operate with the same rules as every other Emojivator.</p>
