<p>Q1: We need you to find out what emoji sequence for this new Emojivator will produce the sequence ___ ___ ___. I know we've seen a few of those emojis before, but they were always grouped with another one. If only we could find a way to remove that other emoji...</p>
