<p>Q2: Alright, now that you've determined how to remove the ___ emoji for that particular sequence, the Big Data team upstairs is hoping you can find for us all of the other emoji combinations that have a similar effect. That is, all of the input sequences that end up removing the ___ emoji in their output.</p>
